[submodule "code-interpreter/vendor/cohere-ai/cohere-terrarium"]
	path = code-interpreter/vendor/cohere-ai/cohere-terrarium
	url = https://github.com/cohere-ai/cohere-terrarium.git
[submodule "sdks/python-sdk"]
	path = sdks/python-sdk
	url = https://github.com/VI19Z-ai/python-sdk.git
[submodule "sdks/node-sdk"]
	path = sdks/node-sdk
	url = https://github.com/VI19Z-ai/node-sdk.git
